body {
  display: grid;
  justify-items: center;
}

header {
  text-align: center;
}

legend {
  display: grid;
  grid-template-columns: auto auto;
/*   grid-template-rows: auto auto; */
}

button {
  width: 32px;
  height: 100%;
  border: none;
  cursor: pointer;
}

input[type='button'] {
  margin-left: 2px;
}

#incrementButton {
  background-color: #4caf50;
  /* Green */
  color: white;
}

#incrementButton:active {
  background-color: #45a049;
  /* Darker green */
}

#decrementButton {
  background-color: #f44336;
  /* Red */
  color: white;
}

#decrementButton:active {
  background-color: #d73828;
  /* Darker red */
}

#incrementButton::after {
  content: '▲';
  font-size: 18px;
}

#decrementButton::after {
  content: '▼';
  font-size: 18px;
}

#enter {
  height: 34px;
  background-color: #e7eaeb;
  border: 1px solid #ccc;
  padding: 10px;
  font-size: 30px;
  text-align: center;
  grid-row: span 2;
  width: auto;
  outline: none;
}

#enter,
#decrementButton {
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}

#incrementButton {
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px
}

div:first-of-type,
div:nth-of-type(2),
div:nth-of-type(3),
div:nth-of-type(4) {
  display: inline-table;
  text-align: center;
  width: 100%;
  margin: 15px 0px 15px 0px
}

h3 {
  margin: 5px;
  font-family: Arial, Helvetica, sans-serif;
}

h5 {
  margin-top: 0px;
  margin-bottom: 0px;
}

div:nth-of-type(5) {
  display: grid;
  min-width: 100%;
  grid-template-columns: 0% max-content max-content 1% max-content max-content 1% max-content max-content 1% max-content auto;
  justify-content: center;
  padding-bottom: 10px;
  font-family: Arial, Helvetica, sans-serif;
}

span {
  font-family: Arial, Helvetica, sans-serif;
}

/* span:nth-child(3) {
  display: none;
} */

label {
  font-family: Arial, Helvetica, sans-serif
}

select {
  font-size: medium;
}

option {
  font-family: Arial, Helvetica, sans-serif;
  font-size: medium;
}

.checkbox-wrapper-1 *,
.checkbox-wrapper-1 ::after,
.checkbox-wrapper-1 ::before {
  box-sizing: border-box;
}

.checkbox-wrapper-1 [type=checkbox].substituted {
  margin: 0;
  width: 0;
  height: 0;
  display: inline;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.checkbox-wrapper-1 [type=checkbox].substituted+label:before {
  content: "";
  display: inline-block;
  vertical-align: top;
  height: 1.15em;
  width: 1.15em;
  margin-left: 0em;
  margin-right: 0.2em;
  color: rgba(0, 0, 0, 0.275);
  border: solid 0.06em;
  box-shadow: 0 0 0.04em, 0 0.06em 0.16em -0.03em inset, 0 0 0 0.07em transparent inset;
  border-radius: 0.7em;
  background: url('data:image/svg+xml;charset=UTF-8,<svg xmlns="http://www.w3.org/2000/svg" version="1.1" xml:space="preserve" fill="white" viewBox="0 0 9 9"><rect x="0" y="4.3" transform="matrix(-0.707 -0.7072 0.7072 -0.707 0.5891 10.4702)" width="4.3" height="1.6" /><rect x="2.2" y="2.9" transform="matrix(-0.7071 0.7071 -0.7071 -0.7071 12.1877 2.9833)" width="6.1" height="1.7" /></svg>') no-repeat center, white;
  background-size: 0;
  will-change: color, border, background, background-size, box-shadow;
  transform: translate3d(0, 0, 0);
  transition: color 0.1s, border 0.1s, background 0.15s, box-shadow 0.1s;
  cursor: pointer;
}

.checkbox-wrapper-1 [type=checkbox].substituted+label:hover:before {
  background-color: rgba(127, 133, 133, 0.308);
}

.checkbox-wrapper-1 [type=checkbox].substituted:enabled:active+label:before,
.checkbox-wrapper-1 [type=checkbox].substituted:enabled+label:active:before {
  box-shadow: 0 0 0.04em, 0 0.06em 0.16em -0.03em transparent inset, 0 0 0 0.07em rgba(0, 0, 0, 0.1) inset;
  background-color: #f0f0f0;
}

.checkbox-wrapper-1 [type=checkbox].substituted:checked+label:before {
  background-color: #3B99FC;
  background-size: 0.75em;
  color: rgba(0, 0, 0, 0.075);
}